body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    gap: 30px;
}

.book-genre {
    gap: 50px;
}

.title {
    font-weight: bold;
}

.main-img {
    width: 300px;
    box-shadow: 0px 2px 5px lightgray;
}

.container {
    display: flex;
}

.ratings {
    width: 110px;
}

.genre {
    color: #565959;
}

a:link {
    color: #007185;
}

.book-info {
    text-align: start;
}


